.blob-orange,
.blob-blue,
.blob-purple {
  position: fixed;
  z-index: -1;
}

.blob-orange::after,
.blob-blue::after,
.blob-purple::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

.blob-orange::after {
  animation: float-from-left 1.5s cubic-bezier(0.08, 0.54, 0, 0.85) forwards;
  background-color: rgb(235 122 79 / var(--tw-bg-opacity));
  left: 1rem;
  top: 2rem;
}

.blob-blue::after {
  animation: float-from-top 1.5s cubic-bezier(0.08, 0.54, 0, 0.85) forwards;
  background-color: rgb(85 123 225 / var(--tw-bg-opacity));
  left: 5rem;
  top: -10rem;
}

.blob-purple::after {
  animation: float-from-right 1.5s cubic-bezier(0.08, 0.54, 0, 0.85) forwards;
  background-color: rgb(169 113 190 / var(--tw-bg-opacity));
  left: -2rem;
  top: -5rem;
}

@keyframes float-from-left {
  0% {
    transform: translate(-150%, 0) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes float-from-top {
  0% {
    transform: translate(150%, -150%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes float-from-right {
  0% {
    transform: translate(150%, 50%) rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
